.container {
	display: flex;
	justify-content: center;
}
.examples-wrapper, .example-wrapper {
	min-width: 800px;
}
.btn {
  padding: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #fff;
  border: solid;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #3465a4;
}

.htmx-settling tr.deactivate td {
  background: lightcoral;
}

.htmx-settling tr.activate td {
  background: darkseagreen;
}

tr td {
  transition: all 1.2s;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.htmx-settling img {
  opacity: 0;
}

img {
  transition: opacity 3000ms ease-in;
}

.error-message {
  color: red;
}

.error input {
  box-shadow: 0 0 3px #CC0000;
}

.valid input {
  box-shadow: 0 0 3px #36cc00;
}

.htmx-indicator {
  display: none;
}

.htmx-request .my-indicator {
  display: inline;
}

.htmx-request.my-indicator {
  display: inline;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width 600ms ease;
  -o-transition: width 600ms ease;
  transition: width 600ms ease;
}

.smooth {
  transition: all 1s ease-in;
}
.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

#fade-me-in.htmx-added {
  opacity: 0;
}
#fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}
form.htmx-request {
  opacity: .5;
  transition: opacity 300ms linear;
}

.demo.faded {
  opacity:.3;
}
.demo {
  opacity:1;
  transition: opacity ease-in 900ms;
}

/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 